@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

#home, #skills, #projects, #education, #contact, #experience {
  scroll-margin-top: 100px;
}

input:focus, textarea:focus {
  outline: none;
}

.underline-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}

.underline-hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
}

/* Scrollbar */
::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #52525b; border-radius: 2px; }
